.bg {
  position: fixed;
  z-index: -1;
}

.image-selection {
  width: 58%;
  margin-left: 24%;
  background-color: beige;
  text-align: center;
}

.grid-container-preview {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color:beige;
  padding: 10px;
}

#gallery img {
  object-fit: contain;
  max-width: 100%;
}

#gallery {
  object-fit: contain;
}

.gal {
  background-color: white;
  border-radius: 10px;
}

p {
  color: white;
}