body {
    background-image: url(https://t4.ftcdn.net/jpg/03/70/74/93/360_F_370749364_edpaAE8lBB6obsshMbLsYtT0SM8PZmP3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Protest Riot', sans-serif;
    font-size: 2vw;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-right: -40%;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_name,
.pass {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 3px solid #1bb5b8;
    border-radius: 8px;
    margin-top: 4px;
}

input[type="submit"] {
    background-color: #af4c6f;
    color: white;
    cursor: pointer;
    font-size: 1vw;
    font-family: 'Protest Riot', sans-serif;
}

input[type="submit"]:hover {
    background-color: #9da045;
}