h2 {
    padding: 1%;
    text-align: center;
}

.file-upload-input {
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 2%;
    background-color: white;
}

.image-selection {
    width: 58%;
    margin-left: 24%;

    background-color: beige;
    text-align: center;
}

.grid-container-preview {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: beige;
    padding: 10px;
}

.audio-file-selection {
    background-color: beige;
    width: 50%;
    margin-left: 30%;
}

.finalvideo {
    width: 600px;
    height: 400px;
    margin-left: 30%;
}

.output_settings {
    text-align: center;
}

.extract {
    text-align: center;
    padding: 2%;
}

input[type="checkbox"][id^="check"] {
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: 250px;
    width: 250px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked+label {
    border-color: #bc0c0c;
}

:checked+label::before {
    content: "✓";
    background-color: black;
    transform: scale(1);
}
input {
    width: 20%;
    padding: 8px;
    border-radius: 30px;
    margin: 10px;
    margin-right: 20px;
    background-color: rgb(246, 243, 243);
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    text-align: center;
}

:checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}