* {
    margin: 0;
    padding: 0;
    border: 0;

}
.heading
{
    color: rgb(13, 13, 13);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    color: rgb(222, 160, 26);
}
.uploadimages {
    
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    margin-left: 24%;
    padding: 4%;
    border: 2px solid rgba(0, 0, 0,0.3);
   
    text-align: center;
    width: 50%;

}
h2 
{
    padding: 1%;
    text-align: center;
}
.file-upload-input
{
    border: 2px solid rgba(0, 0, 0,0.3);
    padding: 2%;
    background-color: white;
}
.image-selection
{
    width: 58%;
    margin-left: 24%;

    background-color: beige;
    text-align: center;
}
.grid-container-preview {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color:beige;
    padding: 10px;
  }
.audio
{
    padding: 2%;
    text-align: center;

}
.audio-selection
{
    padding: 2%;
    margin-left: 35%;
    
    
}
.music_selection_button
{
    padding: 1%;
    background-color: red;
    font-weight: bolder;
}
.audio-file-selection
{
    background-color: beige;
    width: 50%;
    margin-left: 30%;
}
.finalvideo
{
    width: 600px;
    height: 400px;
    margin-left: 30%;
}
.output_settings
{
    text-align: center;
}
.extract
{
    text-align: center;
    padding: 2%;
}
