.bg {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: auto;
}


body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, p {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.gal {
    background-color: rgba(100, 95, 95, 0.4);
    border:solid white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
}

input {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.photo {
    margin: 20px;
}
.grid_for_audio
{
    display: grid;
    grid-template-columns: auto auto;    
}
.audio_selection , .video_preview
{
    background-color: rgba(100, 95, 95, 0.4);
    border:solid white ;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
option
{
    background: rgb(254, 254, 255);
}
.grid_for_audio div
{
    margin-bottom: 5%;

}
