.bg {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: auto;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

.gal {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

input {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.photo {
    margin: 20px;
}